# Generate the qemu secure flash image.

image qemu-secure-flash.img {
	hdimage {
		partition-table = false
	}

	partition bl1 {
		image = "bl1.bin"
	}

	partition fip {
		offset = 0x40000 /* 256 KiB */
		image = "fip.bin"
	}
	/* expand image to 64MiB, dummy size, results in 0 bytes length */
	partition end {
		image = /dev/null
		offset = 64M
		size = 1M
		in-partition-table = false
	}
}
