image srv.img {
	ext4 {
		label = "srv"
		use-mke2fs = "True"
	}
	size = 256M
}

image qemu-virt-image.img {
	name = "code signing demo qemu image"

	hdimage {
		partition-table = "True"
		gpt = "True"
	}

	# first redundant fit partition
	partition fit0 {
		partition-type-uuid = "69DAD710-2CE4-4E3C-B16C-21A1D49ABED3"
		size = 32M
		image = "fit-image-qemuarm.bin"
	}

	# second redundant fit partition
	partition fit1 {
		partition-type-uuid = "69DAD710-2CE4-4E3C-B16C-21A1D49ABED3"
		size = 32M
		image = "fit-image-qemuarm.bin"
	}

	# first redundant root partition (ext4)
	partition system0 {
		partition-type-uuid = "69DAD710-2CE4-4E3C-B16C-21A1D49ABED3"
		size = 512M
		image = "core-image-minimal-qemuarm.ext4"
	}

	# second redundant root partition (ext4)
	partition system1 {
		partition-type-uuid = "69DAD710-2CE4-4E3C-B16C-21A1D49ABED3"
		size = 512M
		image = "core-image-minimal-qemuarm.ext4"
	}

	# Run-time persistent partition (ext4)
	partition persistent {
		partition-type-uuid = "3b8f8425-20e0-4f3b-907f-1a25a76f98e8"
		size = 256M
		image = "srv.img"
	}
}

image qemu-virt-image.qcow {
	qemu {
		format = "qcow2"
		extraargs = "-c"
	}
	partition main-image {
		image = "qemu-virt-image.img"
	}
}
