# Generate the qemu normal flash image.

image qemu-normal-flash.img {
	hdimage {
		partition-table = false
		fill = true
	}

	partition barebox {
		image = barebox-dt-2nd.img
		offset = 0
		in-partition-table = false
	}

	partition barebox-environment {
		offset = 60M
		image = /dev/null
		size = 2M
	}

	partition barebox-state {
		offset = 62M
		image = /dev/null
		size = 2M
	}
}
